In [3]:
import pandas as pd
from scipy.stats import ks_2samp

In [4]:
# Load the time series data
data = pd.read_excel('rea_holdings_share_prices.xls',header=1)

In [5]:
data.tail()

           Date   Open   High    Low  Close
2229 2023-12-15  930.0  930.0  930.0  930.0
2230 2023-12-18  940.0  940.0  940.0  940.0
2231 2023-12-19  945.0  945.0  945.0  945.0
2232 2023-12-20  950.0  950.0  950.0  950.0
2233 2023-12-21  940.0  940.0  940.0  940.0

In [ ]:
drift_metrics = {}
for column in X_train.columns:
    statistic, p_value = ks_2samp(X_train[column], X_test[column])
    drift_metrics[column] = {'statistic': statistic, 'p_value': p_value}